<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344027928611-1crv9viamjnc9mejkd3d75jkckiu5ngj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344027928611-1crv9viamjnc9mejkd3d75jkckiu5ngj</string>
	<key>API_KEY</key>
	<string>AIzaSyCC52iH0fOHLANeWUkl7LpjTidQwqcBSnM</string>
	<key>GCM_SENDER_ID</key>
	<string>344027928611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Gribov-Oleksandr.GroupChoice</string>
	<key>PROJECT_ID</key>
	<string>groupchoice-18b05</string>
	<key>STORAGE_BUCKET</key>
	<string>groupchoice-18b05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344027928611:ios:cabfb0cad0ed14c5</string>
	<key>DATABASE_URL</key>
	<string>https://groupchoice-18b05.firebaseio.com</string>
</dict>
</plist>